<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>고객 추가</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='고객추가.png') }}" alt="어반브룩 아이콘" class="logo" style="width:100%; height:auto;">
        </div>
        <form action="{{ url_for('create_customer') }}" method="POST">
            <table>
                <tr>
                    <th>상담일</th>
                    <td><textarea name="상담일" rows="1" style="width:95%;"></textarea></td>
                </tr>
                <tr>
                    <th>행사 종류</th>
                    <td>
                        <select name="행사종류" style="width:98%;" class="event-type-select">
                        <option value="돌/가족행사">돌/가족행사</option>
                        <option value="웨딩">웨딩</option>
                        <option value="비즈니스">비즈니스</option>
                        <option value="기타">기타(소모임)</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>구분</th>
                    <td><textarea name="구분" rows="1" style="width:95%;"></textarea></td>
                </tr>
                <tr>
                    <th>행사날짜</th>
                    <td><textarea name="행사날짜" rows="1" style="width:95%;"></textarea></td>
                </tr>
                <tr>
                    <th>예상인원</th>
                    <td><textarea name="예상인원" rows="1" style="width:95%;"></textarea></td>
                </tr>
                <tr>
                    <th>시간</th>
                    <td><textarea name="시간" rows="1" style="width:95%;"></textarea></td>
                </tr>
                <tr>
                    <th>예약자</th>
                    <td><textarea name="예약자" rows="1" style="width:95%;"></textarea></td>
                </tr>
                <tr>
                    <th>연락처</th>
                    <td><textarea name="연락처" rows="1" style="width:95%;"></textarea></td>
                </tr>
                <tr>
                    <th>계약중/계약완료</th>
                    <td>
                        <select name="계약중/계약완료" style="width:98%;" class="event-type-select">
                            <option value="계약중">계약중</option>
                            <option value="계약완료">계약완료</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>문자발송</th>
                    <td><textarea name="문자발송" rows="1" style="width:95%;"></textarea></td>
                </tr>
                <tr>
                    <th>상담내용</th>
                    <td><textarea name="상담내용" rows="5" style="width:95%;"></textarea></td>
                </tr>
            </table>
            <div class="button-container">
                <button type="submit" class="btn" >저장</button>
                <pre>   </pre>
                <button type="button" class="btn" onclick="history.back()">돌아가기</button>
            </div>
        </form>
    </div>
</body>
</html>
