<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객 세부 정보</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container detail-container">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='고객세부정보.png') }}" alt="어반브룩 아이콘" class="logo" style="width:100%; height:auto;">
        </div>
        <table>
            <tr>
                <th>상담일자</th>
                <td><textarea id="상담일자" name="상담일자" rows="1" style="width:95%;">{{ customer['상담일자'] }}</textarea></td>
            </tr>
            <tr>
                <th>행사일자</th>
                <td><textarea id="행사일자" name="행사일자" rows="1" style="width:95%;">{{ customer['행사일자'] }}</textarea></td>
            </tr>
            <tr>
                <th>고객명</th>
                <td>
                    <div class="flex-container">
                        <textarea id="고객명" name="고객명" rows="1" style="width:80%;">{{ customer['고객명'] }}</textarea>
                        <pre>  </pre>
                        <button type="button" class="btn small-btn" onclick="openResponseForm({{ index }})">응답폼</button><pre> </pre>
                    </div>
                </td>
            </tr>                           
            <tr>
                <th>행사종류</th>
                <td>
                    <select id="행사종류" name="행사종류" style="width:98%;" class="event-type-select">
                        <option value="돌/가족행사" {% if customer['행사종류'] == '돌/가족행사' %}selected{% endif %}>돌/가족행사</option>
                        <option value="웨딩" {% if customer['행사종류'] == '웨딩' %}selected{% endif %}>웨딩</option>
                        <option value="비즈니스" {% if customer['행사종류'] == '비즈니스' %}selected{% endif %}>비즈니스</option>
                        <option value="기타" {% if customer['행사종류'] == '기타' %}selected{% endif %}>기타(소모임)</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>세부종류</th>
                <td><textarea id="세부종류" name="세부종류" rows="1" style="width:95%;">{{ customer['세부종류'] }}</textarea></td>
            </tr>
            <tr>
                <th>전화번호</th>
                <td><textarea id="전화번호" name="전화번호" rows="1" style="width:95%;">{{ customer['전화번호'] }}</textarea></td>
            </tr>
            <tr>
                <th>상담중/상담완료</th>
                <td class="left-align">{{ customer['상담중/상담완료'] }}</td>
            </tr>
            <tr>
                <th>상담내용</th>
                <td>
                    <textarea id="상담내용" name="상담내용" rows="10" style="width:95%;">{{ customer['상담내용'] }}</textarea>
                </td>
            </tr>
        </table>
        <div class="button-container">
            <form action="{{ url_for('update_status', index=index, status='상담중') }}" method="POST" style="flex: 1; margin-right: 10px;" class="status-form" onsubmit="return updateStatus(event, '상담중')">
                <button type="submit" class="btn_detail">상담중으로 저장하기</button>
            </form>
            <form action="{{ url_for('update_status', index=index, status='상담완료') }}" method="POST" style="flex: 1; margin-left: 10px;" class="status-form" onsubmit="return updateStatus(event, '상담완료')">
                <button type="submit" class="btn_detail">상담완료로 저장하기</button>
            </form>
        </div>
        <div class="button-container">
            <button class="btn_detail" onclick="closeAndRefreshParent()">돌아가기</button>
        </div>
    </div>
    <script>
        function updateStatus(event, status) {
        event.preventDefault();
        const form = event.target.closest('form');
        const 상담일자 = document.getElementById('상담일자').value;
        const 행사일자 = document.getElementById('행사일자').value;
        const 고객명 = document.getElementById('고객명').value;
        const 행사종류 = document.getElementById('행사종류').value;
        const 세부종류 = document.getElementById('세부종류').value;
        const 전화번호 = document.getElementById('전화번호').value;
        const 상담내용 = document.getElementById('상담내용').value;
        
        const formData = new FormData(form);
        formData.append('상담일자', 상담일자);
        formData.append('행사일자', 행사일자);
        formData.append('고객명', 고객명);
        formData.append('행사종류', 행사종류);
        formData.append('세부종류', 세부종류);
        formData.append('전화번호', 전화번호);
        formData.append('상담내용', 상담내용);
        formData.append('상담중/상담완료', status);

        fetch(form.action, {
            method: form.method,
            body: formData,
        }).then(response => {
            if (response.ok) {
                window.location.reload();
                alert('상태 변경'); // Refresh the current window
            } else {
                alert('상태 변경 실패');
            }
        }).catch(error => {
            console.error('Error:', error);
            alert('상태 변경 실패');
        });
    }
        function closeAndRefreshParent() {
            if (window.opener) {
                window.opener.location.reload(); // Refresh the parent window
            }
            window.close(); // Close the current tab
        }

        function openResponseForm(index) {
            const url = "{{ url_for('response_form', index=0) }}".replace('0', index);
            window.open(url, "newwindow", "width=800,height=950,top=50,left=1200");
        }
    </script>
</body>
</html>
