/* 글로벌 */
body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #d6c0a8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Prevents scrolling of the entire body */
}
/* 컨테이너 */
.container {
    background-color: #fff;
    width: 85vw; /* Adjusted width to fit within the viewport */
    max-width: 1200px; /* Maximum width */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    height: 90vh; /* 화면 높이에 맞추기 위해 전체 높이를 설정 */
}

.container detail-container {
    background-color: #fff;
    width: 85vw; /* Adjusted width to fit within the viewport */
    max-width: 1200px; /* Maximum width */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    height: 90vh; /* 화면 높이에 맞추기 위해 전체 높이를 설정 */
}

/* 테이블 row */
tr {
    cursor: pointer;
}

tr:hover {
    background-color: #f1e9d8;
}
/* index.html 검색창 */
.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.search-bar img {
    width: 24px;
    height: 24px;
}

/* 테이블 */
.table-container {
    flex: 1;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Ensures that the table does not exceed the container width */
}

th, td {
    padding: 10px;
    /* text-align: left; */
    border-bottom: 1px solid #ccc;
    text-align: center; /* 수평 중앙 정렬 */
    height: 100%; /* 부모 요소 높이에 맞추기 */
}

th {
    background-color: #f4f4f4;
    cursor: pointer;
    position: sticky;
    top: 0;
    background: #f4f4f4; /* Ensures header background is not transparent */
    width: 30%;
}

.sort-icon {
    width: 12px;
    height: 12px;
    margin-left: 5px;
}

/* index.html 고객추가 */
.add-customer {
    display: block;
    width: 95%;
    text-align: center;
    padding: 15px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    position: sticky;
    bottom: 0;
}

.button-container {
    display: flex;
    justify-content: right;
    margin-top: 20px;
}

.button-container-response {
    display: inline-block;
    justify-content: right;
    margin-top: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

/* 예약자+ 응답폼버튼 */
.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1ch;
}

/* 응답폼 버튼 */
.flex-container .small-btn {
    width: 40%;
    padding: 5px 10px;
    font-size: 12px;
    margin-left: auto;
    margin-top: 0; /* Remove margin-top for better alignment */

    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

/* add_customer.html 버튼 */
.btn {
    display: block;
    width: 15%;
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

/* 나머지 버튼 */
.btn_detail {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    width: auto; /* 버튼 너비 자동 조정 */
    margin-top: 10px;
}

/* detail.html 계약상태 좌측정렬 */
.left-align {
    text-align: left;
    padding-left: 2ch;
}

/* type선택창 css */
.event-type-select {
    width: 98%;
    padding-top: 10px; /* 위쪽 간격 */
    padding-bottom: 10px; /* 아래쪽 간격 */
    padding-left: 5px; /* 좌측 간격, 필요에 따라 조정 */
    padding-right: 5px; /* 우측 간격, 필요에 따라 조정 */
    font-size: 16px; /* 글자 크기, 필요에 따라 조정 */
    box-sizing: border-box; /* 패딩이 width에 포함되도록 설정 */
}

/* index.html 사이드바 */
.sidebar {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 20px;
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.sidebar p {
    font-size: 16px;
    margin: 5px 0;
}

/* index.html 새로고침 */
.refresh-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
